

.footerlinks {
    color: #ffffff;
    text-decoration: none;
}

    .footerlinks:hover {
        color: #ffffff;
        text-shadow: 0 0 3px #58cced;
        text-underline-position: under;
    }

#footer1 {
    background: #1565c0;
}

.form-control, .form-select {
    border-radius: 25px;
    border-color: #58cced;
}


.btn-default, .btn-primary, .btn-success, .btn-warning, .btn-info, .btn-danger, .btn-light {
    border-radius: 25px;
}

.btn-success-sld {
    color:limegreen;
    border-color: limegreen;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

    .btn-success-sld:hover {
        background-color: limegreen;
        box-shadow: 0 5px 25px rgb(0 0 0 / 0.10);
        transform: scale(1.05);
        color: white;
    }

.btn-warning-sld {
    color: #ffc107;
    border-color: #cccc00;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

    .btn-warning-sld:hover {
        box-shadow: 0 5px 25px rgb(0 0 0 / 0.10);
        transform: scale(1.05);
        color: white;
        background-color: #ffc107;
    }

.btn-danger-sld {
    color: red;
    border-color: orangered;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

    .btn-danger-sld:hover {
        box-shadow: 0 5px 25px rgb(0 0 0 / 0.10);
        transform: scale(1.05);
        color: white;
        background-color: red;
    }

.btn-primary-sld {
    color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

    .btn-primary-sld:hover {
        box-shadow: 0 5px 25px rgb(0 0 0 / 0.10);
        transform: scale(1.05);
        color: white;
        background-color: cornflowerblue;
    }

    .btn-danger-sld:hover, .btn-warning-sld:hover, .btn-success-sld:hover, .btn-primary-sld:hover {
        box-shadow: 0 5px 25px rgb(0 0 0 / 0.10);
        transform: scale(1.05);
    }

.btn-danger {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

    .btn-danger:hover {
        background-position: right center;
        color: white;
        border-color: transparent;
        
    }

.btn-primary {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

    .btn-primary:hover {
        background-position: right center;
        color: white;
        border-color: transparent;
        
    }

.btn-warning {
    background-image: linear-gradient(to right, #FFD400, #FFDD3C, #FFEA61, #FFD400);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    border-color: transparent;
    transform: scale(1.05);
}

    .btn-warning:hover {
        background-position: right center;
        color: white;
        border-color: transparent;
        
    }

.btn-cool-blues {
    background: linear-gradient(45deg, #ABDCFF, #0396FF);
    border-radius: 25px;
    color: #ffffff;
}

    .btn-cool-blues:hover {
        color: white;
    }

.btn-info {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

    .btn-info:hover {
        background-position: right center;
        color: white;
        border-color: transparent;
        
    }

.btn-success {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    border-color: transparent;
}

    .btn-success:hover {
        background-position: right center;
        color: white;
        border-color: transparent;
        
    }

.btn-info-blue {
    background-image: linear-gradient(to right, #ae6e91, #a05a80, #ba84a1, #75425d);
    text-decoration-color: #ffffff;
    height: 45px;
    transition: all .2s ease-in-out;
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    border-color: transparent;
}

    .btn-info-blue:hover {
        background-position: right center;
        color: white;
        
    }

h1 {
    text-shadow: 2px 2px 5px #4969e1;
}

.card-img-top {
    width: 30%;
    height: 9vw;
    object-fit: contain;
    align-content: center;
}

body {
    background: linear-gradient(-45deg, #a2e2e8, #52a8ee, #3c53e7, #23a6d5, #6379c9, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    align-content: center;
}

    .card:hover {
        box-shadow: 0 5px 25px rgba(255,255,255,1);
    }

nav .navbar-nav li a {
    color: white !important;
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #58cced;
    text-underline-position: under;
}

nav .nav-link {
    color: white !important;
    font-size: large;
}
